
*{
    padding: 0;
    margin: 0;
    font-family: Roboto, sans-serif;
}
body{
    height: 2000px;
}
a{
    text-decoration: none;
    color: white;
}

.amazonHeader{
    position: fixed;
    display: flex;
    align-items: center;
    background-color: rgb(18,25,32);
    padding: 10px 20px;
    left: 0;
    right: 0;
    top: 0;
    height: 40px;
    z-index: 999;
}
.amazonHeader a .amazon-logo{
    border: 1px solid transparent;
    padding: 5px 8px;
    cursor: pointer;
    margin-right: 100px;
    height: 90%;
    display: flex;
    align-items: center;
}
.amazonHeader a .amazon-logo .windowLogo{
    width: 85px;
}
.amazonHeader a .amazon-logo .phoneLogo{
    width: 30px;
}
.amazonHeader a .amazon-logo:hover{
    border: 1px solid white;
}

.amazonHeader .search-input{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.amazonHeader .search-input:focus-within input{
    outline: 2px solid rgb(252, 178, 82);
}
.amazonHeader .search-input:focus-within img{
    outline: 2px solid rgb(252, 178, 82);
}
.amazonHeader .search-input input{
    padding: 12px;
    width: 100%;
    max-width: 800px;
    min-width: 250px;
    border: none;
    border-radius: 5px;
}
.amazonHeader .search-input img{
    width: 20px;
    background-color: rgb(254,189,105);
    border-radius: 0px 5px 5px 0px;
    padding: 10px;
    margin-left: -5px;
}
.amazonHeader .burgerMenu{
    margin-left: 20px;
    cursor: pointer;
    padding: 5px;
}
.amazonHeader .return_orders-cart{
    display: flex;
    justify-content: end;
    align-items: center;
    color: white;
    font-size: 12px;
    min-width: 200px;
    height: 100%;
}
.amazonHeader .return_orders-cart .return-orders-container .return-orders{
    display: flex;   
    flex-direction: column;
    justify-content: center;
    line-height: 1;
    border: 1px solid transparent;
    height: 90%;
    padding: 5px 8px;
}
.amazonHeader .return_orders-cart .return-orders-container .return-orders span{
    font-weight: bold;
}
.amazonHeader .return_orders-cart .cart-container .cart{
    display: flex;
    align-items: end;
    border: 1px solid transparent;
    height: 90%;
    padding: 5px 8px;
}
.amazonHeader .return_orders-cart .return-orders-container .return-orders:hover{
    cursor: pointer;
    border: 1px solid white;
}
.amazonHeader .return_orders-cart .cart-container .cart:hover{
    cursor: pointer;
    border: 1px solid white;
}
.amazonHeader .return_orders-cart .cart-container .cart div{
    position: relative;
}
.amazonHeader .return_orders-cart .cart-container .cart div img{
    width: 50px;
}
.amazonHeader .return_orders-cart .cart-container .cart div span{
    position: absolute;
    left: 57%;
    top: 3%;
    transform: translateX(-50%);
    font-size: 14px;
    color: rgb(255,133,24);
}

.menuItems{
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: rgb(18,24,33);
    left: 50%;
    bottom: 100px;
    width: 100%;
    transform: translateX(-50%);
    padding: 10px 0px;
    gap: 5px;
    opacity: 0;
    transition: bottom .3s  ease, opacity .3s ease;
    z-index: -3;
}
.menuItemTransition{
    bottom: -100px;
    opacity: 1;
}
.menuItems a{
    text-align: center;
}
.menuItems a button{
    background-color: transparent;
    color: white;
    height: 40px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
}
.menuItems a:hover{
    background-color: rgba(255, 255, 255, 0.049);
}
.menuItems a:nth-of-type(2) button span{
    color: rgb(255,133,24);
}

@media(max-width: 780px){
    .amazonHeader a .amazon-logo{
        margin-right: 10px;
    }
    .amazonHeader .return_orders-cart{
        min-width: fit-content;
        padding-left: 20px;
    }
}


/* products style */

.products-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    margin-top: 60px;
}

.product{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgba(128, 128, 128, 0.294);
    padding: 40px 15px;
    gap: 15px;
}
.product .image{
    width: 70%;
    height: 200px;
}
.product .image img{
    object-fit: contain;
    width: 100%;
    height: 100%;
}
.product .details{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}
.product .details .productName {
    display: -webkit-box;
    -webkit-line-clamp: 2; /* max number of lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 40px; /* optional, you can remove or adjust */
}

.product .details div{
    display: flex;
    align-items: center;
    gap: 10px;
}
.product .details div img{
    width: 100px;
}
.product .details div p{
    color: rgb(30,156,202);
    font-weight: 500;
    margin-top: 2px;
}
.product .details select{
    border: 1px solid rgba(128, 128, 128, 0.298);
    font-size: 15px;
    box-shadow: 0px 1px 10px rgba(128, 128, 128, 0.254);
    background-color: rgb(240,240,240);
    padding: 3px;
    border-radius: 3px;
}
.product .addToCart{
    background-color: rgb(255,217,21);
    border-radius: 20px;
    height: 33px;
    border: none;
    width: 100%;
    margin-top: 15px;
    cursor: pointer;
    max-width: 300px;
}

@media(max-width: 2200px){
    .products-container{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr
    }
}
@media(max-width: 1920px){
    .products-container{
        grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr
    }
}
@media(max-width: 1620px){
    .products-container{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr
    }
}
@media(max-width: 1440px){
    .products-container{
        grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr
    }
}
@media(max-width: 1100px){
    .products-container{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr
    }
}
@media(max-width: 900px){
    .products-container{
        grid-template-columns: 1fr 1fr 1fr 1fr
    }
}
@media(max-width: 754px){
    .products-container{
        grid-template-columns: 1fr 1fr 1fr
    }
}
@media(max-width: 600px){
    .products-container{
        grid-template-columns: 1fr 1fr
    }
}


/* checkOut  */
.checkout-orderReview-container{
    display: flex;
    padding: 20px;
    max-width: calc(1100px - 40px);
    margin: 60px auto;
    gap: 15px;
}
.checkout-orderReview-container-mobile{
    flex-direction: column;
}
.review-order-container{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.checkOutHeader{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0px;
    width: 100%;
    max-width: 1100px;
    margin: 0px auto;
}
.checkOutHeader > a > img:nth-of-type(1).window{
    width: 100px;
    margin-left: 20px;
}
.checkOutHeader > a > img:nth-of-type(1).mobile{
    width: 30px;
    margin-left: 20px;
}
.checkOutHeader > .lockIcon{
    margin-right: 20px;
}

.checkOutHeader div{ 
    text-align: center;
    flex: 1;
    font-size: 24px;
    font-weight: 500;
}
.checkOutHeader div p span {
    color: rgb(1,112,133);
}
.checkOutHeader img:nth-of-type(2){

    margin-right: 20px;
}


.order-container{
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(128, 128, 128, 0.36);
    padding: 15px;
    gap: 15px;
    min-width: fit-content;
    max-width: 670px;
}
.order-container .delivery-date{
    color: rgb(0,119,40) ;  
    font-size: 18px; 
}

.order-container .orderDetails-deliveryOptions{
    display: flex;
    gap: 15px;
}

.orderDetails{
    display: flex;
    align-items: start;
    gap: 15px;
    max-width: 400px;
}
.orderDetails > img{
    width: 100px;
    object-fit: contain;
}
.orderDetails > div{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.orderDetails > div > .price{
    color: rgb(179, 4, 4);
}
.orderDetails > div > .quantity{
    display: flex;
    gap: 5px;
    width: 200px;
}
.orderDetails > div > .quantity > button{
    background-color: transparent;
    border: none;
    color: rgb(0,125,182);
    font-size: 16px;
    cursor: pointer;
}
.orderDetails > div > .quantity > button:hover{
    text-decoration: underline;
}
.deliveryOptions{
    display: flex;
    flex-direction: column;
    gap: 15px;
    min-width: fit-content;
    margin-bottom: 20px;
}
.deliveryOptions > div {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.deliveryOptions > div > label{
    display: flex;
    line-height: .95;
    gap: 8px;
}
.deliveryOptions > div > label> input{
    width: 16px;
}
.deliveryOptions > div > label > div > p{
    font-weight: bold;
    color: rgb(1,119,0);
}
.deliveryOptions > div > label > div > span{
    font-weight: 300;
    font-size: 14px;
}

.orderSummary-container{
    display: flex;
    flex-direction: column;
    position: relative;
    border: 1px solid rgba(128, 128, 128, 0.5);
    width: calc(360px - 40px);
    padding: 20px;
    margin-top: 50px;
    gap: 5px;
    height: fit-content;
}

.orderSummary-container .line-1{
    height: .5px;
    width: 60px;
    background-color: rgba(128, 128, 128, 0.665);
    position: absolute;
    right: 20px;
    top: 34%;
    transform: translateY(50%);
}
.orderSummary-container .line-2{
    height: .5px;
    background-color: rgba(128, 128, 128, 0.665);
    margin: 5px 0px 10px 0px;
}
.orderSummary-container .price{
    display: flex;
    justify-content: space-between;
    font-size: 15px;
}
.orderSummary-container > .tax{
    margin-top: 10px;
}
.orderSummary-container > .items{
    color: rgb(168, 14, 14);
    font-weight: bold;
}
.orderSummary-container > button{
    background-color: rgb(254,217,20);
    border: none;
    border-radius: 8px;
    height: 40px;
    margin-top: 30px;
    cursor: pointer;
}

@media(max-width: 1030px){
    .checkOutHeader div{
        font-size: 18px;
    }
    .checkout-orderReview-container{
        flex-direction: column;
        align-items: center;
    }
    .orderSummary-container{
        order: -1;
        width: calc(500px - 40px);
    }
    .order-container .orderDetails-deliveryOptions{
        flex-direction: column;
        width: calc(500px - 30px);
    }
}