
*{
    padding: 0;
    margin: 0;
    font-family: Roboto, sans-serif;
}
body{
    height: 2000px;
}

header{
    position: fixed;
    display: flex;
    align-items: center;
    background-color: rgb(18,25,32);
    padding: 10px 20px;
    left: 0;
    right: 0;
    height: 40px;
    z-index: 999;
}
header a .amazon-logo{
    border: 1px solid transparent;
    padding: 5px 8px;
    cursor: pointer;
    margin-right: 100px;
    height: 90%;
    display: flex;
    align-items: center;
}
header a .amazon-logo .windowLogo{
    width: 85px;
}
header a .amazon-logo .phoneLogo{
    width: 30px;
}
header a .amazon-logo:hover{
    border: 1px solid white;
}

header .search-input{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
header .search-input:focus-within input{
    outline: 2px solid rgb(252, 178, 82);
}
header .search-input:focus-within img{
    outline: 2px solid rgb(252, 178, 82);
}
header .search-input input{
    padding: 12px;
    width: 100%;
    max-width: 800px;
    min-width: 250px;
    border: none;
    border-radius: 5px;
}
header .search-input img{
    width: 20px;
    background-color: rgb(254,189,105);
    border-radius: 0px 5px 5px 0px;
    padding: 10px;
    margin-left: -5px;
}
header .burgerMenu{
    margin-left: 20px;
    cursor: pointer;
    padding: 5px;
}
header .return_orders-cart{
    display: flex;
    justify-content: end;
    align-items: center;
    color: white;
    font-size: 12px;
    min-width: 200px;
    height: 100%;
}
header .return_orders-cart .return-orders{
    display: flex;   
    flex-direction: column;
    justify-content: center;
    line-height: 1;
    border: 1px solid transparent;
    height: 90%;
    padding: 5px 8px;
}
header .return_orders-cart .return-orders span{
    font-weight: bold;
}
header .return_orders-cart .cart{
    display: flex;
    align-items: end;
    border: 1px solid transparent;
    height: 90%;
    padding: 5px 8px;
}
header .return_orders-cart .return-orders:hover{
    cursor: pointer;
    border: 1px solid white;
}
header .return_orders-cart .cart:hover{
    cursor: pointer;
    border: 1px solid white;
}
header .return_orders-cart .cart div{
    position: relative;
}
header .return_orders-cart .cart div img{
    width: 50px;
}
header .return_orders-cart .cart div span{
    position: absolute;
    left: 57%;
    top: 3%;
    transform: translateX(-50%);
    font-size: 14px;
    color: rgb(255,133,24);
}

.menuItems{
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: rgb(18,24,33);
    left: 50%;
    bottom: 100px;
    width: 100%;
    transform: translateX(-50%);
    padding: 10px 0px;
    gap: 5px;
    opacity: 0;
    transition: bottom .3s  ease, opacity .3s ease;
    z-index: -3;
}
.menuItemTransition{
    bottom: -100px;
    opacity: 1;
}


.menuItems button{
    background-color: transparent;
    color: white;
    height: 40px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
}
.menuItems button:hover{
    background-color: rgba(255, 255, 255, 0.049);
}
.menuItems button:nth-of-type(2) span{
    color: rgb(255,133,24);
}

@media(max-width: 780px){
    header a .amazon-logo{
        margin-right: 10px;
    }
    header .return_orders-cart{
        min-width: fit-content;
        padding-left: 20px;
    }
}
